<div class="card border-primary mb-3">
  <div class="card-header">Panel de Servicios y reservas</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado </h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary mr-5" [routerLink]="['/reservas']">Reservas pendientes</button>
      <button class="btn btn-rounded btn-primary mr-5" [routerLink]="['/servicios']">Servicios solicitados </button>
      <button class="btn btn-rounded btn-primary mr-5" [routerLink]="['/servicios']">Historial Reservaciones</button>

      <button class="btn btn-rounded btn-primary mr-5">Reportes</button>


    </div>