<br>
<div class="container">
    <div class="row">
        <div class="col-sm-10">
            <div class="registration-container" >
                <div class="card-header text-center">
                    <h2>{{titulo}}</h2>
                </div>
                <form ngNativeValidate class="p-2">
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>CEDULA</strong></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="persona.cedula_persona" name="cedula"
                                placeholder="Ingrese el número de cedula" required="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>Primer Nombre</strong></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="persona.nombre" name="nombre"
                                placeholder="Ingrese el primer Nombre" required="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>Segundo Nombre</strong></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="persona.nombre2" name="nombre2"
                                placeholder="Ingrese el segundo nombre" required="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>Apellido Paterno</strong></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="persona.apellido" name="apellido"
                                placeholder="Ingrese el Apellido Paterno" required="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>Apellido Materno</strong></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="persona.apellido2" name="apellido2"
                                placeholder="Ingrese el Apellido Materno" required="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>Telefono</strong></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="persona.telefono" name="telefono"
                                placeholder="Ingrese el numero de celular" required="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>Genero</strong></label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" [(ngModel)]="persona.genero" name="genero"
                                placeholder="Ingrese su genero" required="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>Fecha de Nacimiento</strong></label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" [(ngModel)]="persona.fechaNacimiento" (change)="calcularEdad()" name="fechaNacimiento">
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>Direccion</strong></label>
                        <div class="col-sm-9">
                            <textarea class="form-control" [(ngModel)]="persona.direccion" name="direccion"
                                placeholder="Ingrese la direccion" required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>Sueldo</strong></label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control" [(ngModel)]="recepcionista.sueldo" name="sueldo"
                                placeholder="Ingrese el valor del sueldo" required="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>Usuario</strong></label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" [(ngModel)]="recepcionista.usuario" name="usuario"
                                placeholder="Ingrese el nombre de Usuario" required="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>Contraseña</strong></label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" [(ngModel)]="recepcionista.contrasena"
                                name="contrasena" placeholder="Ingrese una Contraseña" required="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>Provincia</strong></label>
                        <div class="provincia-container col-sm-9">
                            <select id="id_provincia" [(ngModel)]="provinciaSeleccionada" name="id_provincia"
                                class="provincia-select">
                                <option *ngFor="let provincia of provincias" [value]="provincia.id_provincia">{{
                                    provincia.nombre }}
                                </option>
                            </select>
                            <button type="button" (click)="filtrarCantonesPorProvincia()" class="filter-button-small"
                                [class.clicked]="isFilterClicked">
                                <i class="fas fa-search"></i>
                                <span class="filter-indicator" *ngIf="provinciaSeleccionada">&#10004;</span>
                            </button>
                            <p class="selected-province-message">{{ selectedProvinceMessage }}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-form-label col-sm-3"><strong>Canton</strong></label>
                        <div class="canton-container col-sm-9">
                            <select id="id_canton" [(ngModel)]="persona.id_canton" name="id_canton"
                                [disabled]="!isProvinciaSelected" required>
                                <option *ngFor="let canton of cantonesFiltrados" [value]="canton.id_canton">{{
                                    canton.nombre
                                    }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-9 offset-sm-3">
                            <button type="submit" class="btn btn-primary" (click)="guardar()">Guardar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
