<div style="background-color: #F9F9F9;">
  <div id="introCarousel" class="carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">
    <div class="carousel-inner">
      <img src='assets/imagen/zhotel-high-resolution-logo.jpg' class="carousel-item active"
        style="width: 85%;left: 7%;">

    </div>
  </div>
  <br>
  <div class="card mb-3" style="max-width: 95%; margin-left: 3cap;">
    <div class="row g-0">
      <div class="col-md-7" style="margin-left: 5cap;">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold; font-size: 42px; color: brown;">Nuestra Misión:</h5>
          <h5 class="card-title" style="font-weight: bold; font-size: 18px;">Creando Recuerdos, Ofreciendo Hogar</h5>
          <p class="card-text" style="text-align: justify;">
            En zHotel, nos enorgullece abrazar una misión que va más allá de proporcionar un mero refugio;
            buscamos crear una experiencia que se arraigue en la memoria de nuestros huéspedes como un capítulo
            inolvidable de sus vidas.
            Aspiramos a ser tu hogar temporal, donde cada detalle ha sido cuidadosamente considerado para asegurar tu
            comodidad y satisfacción. Cada rincón de zHotel está impregnado de autenticidad y calidez,
            reflejando nuestro compromiso inquebrantable de ser más que un simple lugar para alojarse.
            En nuestro empeño por brindar una experiencia excepcional, nos regimos por principios fundamentales.
            Desde la autenticidad en la hospitalidad hasta la excelencia que deleita, cada interacción está imbuida con
            la esencia de un servicio excepcional.

          </p>

        </div>
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <img src="assets/imagen/ZhotelMision.jpg" alt="Trendy Pants and Shoes" class="img-fluid rounded-start" />
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 95%; margin-left: 3cap;">
    <div class="row g-0">
      <div class="col-md-4" style="margin-left: 5cap;">
        <div class="card-body">
          <img src="assets/imagen/zHotelEdificio.jpg" alt="Trendy Pants and Shoes" class="img-fluid rounded-start" />
        </div>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold; font-size: 42px; color: brown;">Nuestra Visión:</h5>
          <h5 class="card-title" style="font-weight: bold; font-size: 18px;">Bienvenido a zHotal: Donde Cada Momento Es
            Inolvidable</h5>
          <p class="card-text" style="text-align: justify;">
            En zHotal, nos dedicamos a ofrecer más que simplemente un lugar para alojarse; nos esforzamos por brindarte
            una experiencia hotelera excepcional que quede grabada en tus recuerdos.
            Ya sea que te encuentres aquí por motivos de negocios o placer,
            nuestro compromiso es superar tus expectativas y proporcionarte momentos inolvidables desde el momento en
            que atraviesas nuestras puertas.
            En cada rincón de zHotal, se refleja nuestro compromiso con la excelencia y la satisfacción del huésped.
            Creemos que una estancia en un hotel debería ser más que una simple transacción; debería ser una experiencia
            que deleite tus sentidos y enriquezca tu vida.En zHotal, tu satisfacción es nuestra prioridad. Nuestro
            equipo
            dedicado trabaja incansablemente para asegurarse de que cada aspecto de tu estancia sea impecable.
            Nos enorgullece ofrecer un servicio excepcional que va más allá de tus expectativas.

          </p>
        </div>
      </div>
    </div>
  </div>
</div>